@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --font-1: "Urbanist", sans-serif;
  --font-2: "Raleway", sans-serif;
  --font-3: "DM sans", sans-serif;

  --sp1: 0.25rem;
  --sp2: 0.5rem;
  --sp3: 0.75rem;
  --sp4: 1rem;
  --sp5: 1.25rem;
  --sp6: 1.5rem;
  --sp7: 1.75rem;
  --sp8: 2rem;
  --sp9: 2.5rem;

  --vp-1: 2vw;
  --vp-2: 4vw;

  --bl-1: 5rem;
  --bl-2: 10rem;
  --bl-3: 15rem;

  /* --card-w-1: 18rem; */
  --card-w-1: max(15rem, calc((92vw - (var(--gap-4) * 4)) * 0.21));

  --card-w-1-min: calc((92vw - var(--gap-2)) / 2.1);
  /* --card-w-1-min: 18rem; */

  --f-unit-1: 0.5rem;
  --f-unit-2: 0.8rem;
  --f-unit-3: 1rem;
  --f-unit-4: 1.2rem;
  --f-unit-5: 2rem;

  --f-v-1: max(1.5rem, 2vw);
  --f-v-2: max(2rem, 4vw);
  --f-v-3: max(4rem, 6vw);
  --f-v-4: max(4rem, 8vw);

  --bd: 1.5px solid;
  --bd2: 2px solid;

  --bd-radius-1: 0.5rem;
  --bd-radius-2: 1rem;
  --bd-radius-3: 1.5rem;
  --bd-radius-4: 2rem;

  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;
  --gap-4: 2rem;
  /* --bg-white: #f2f7db; */
  /* --bg-black: #000000; */
  --txt-white: #ffffff; /* Keep white for text contrast */
  --txt-black: #101010; /* Deep black for strong contrast */
  --txt-sec: #203020; /* Muted green for secondary text */
  --txt-sec-2: #20302022; /* Transparent muted green */
  --txt-highlight: #00cc66; /* Bright green for highlights */
  --txt-highlight-op: #00cc6644; /* Transparent bright green for highlights */

  --bg-primary: #e6f5e6; /* Very light green for primary background */
  --bg-secondary: #ccf2cc; /* Light green for secondary background */
  --bg-tertiary: #b3e6b3; /* Slightly darker green for tertiary background */

  --bg-dark-primary: #101010; /* Deep black for dark primary background */
  --bg-dark-secondary: #10101022; /* Transparent black for dark secondary background */
  --bg-dark-tertiary: #10101033; /* Slightly more transparent black for dark tertiary background */

  --red-light: #ffcccc;
  --red: #ff0000;
  --red-dark: #cc0000;

  --orange-light: #ffe5cc;
  --orange: #ff9900;
  --orange-dark: #cc6600;

  --red-orange-gradient: linear-gradient(45deg, var(--red), var(--orange));
  --red-highlight: #ff4d4d;
  --orange-highlight: #ffb84d;

  --green-light: #ccffcc; /* Light green */
  --green: #00cc66; /* Standard green */
  --green-dark: #00994d; /* Dark green */

  --green-black-gradient: linear-gradient(
    45deg,
    var(--green),
    var(--txt-black)
  );
  --green-highlight: #33ff99; /* Vibrant green for highlights */
  --black-highlight: #333333; /* Subtle black highlight */

  --section-spacing-1: var(--sp4) var(--vp-2);
  --section-spacing-2: var(--sp2) var(--vp-2);
  --section-spacing-3: var(--bl-1) var(--vp-2);

  --gradient-red-orange: linear-gradient(
    to top,
    var(--red-highlight),
    var(--orange-highlight)
  );
  --gradient-orange-yellow: linear-gradient(135deg, var(--orange), #ffd700);
  --gradient-green-black: linear-gradient(
    to top,
    var(--green-highlight),
    var(--black-highlight)
  );
  --gradient-green-yellow: linear-gradient(135deg, var(--green), #e6ff66);
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  color: inherit;
  padding: 0;
  font-family: var(--font-3);
  letter-spacing: -0.5px;
}
html {
  scroll-behavior: smooth;
  font-size: 80%;
  line-height: 1.5;
}
body {
  background-color: var(--bg-primary);
  color: var(--txt-sec);
  /* font-size: var(--f-v-1); */
  font-weight: 400;
  overflow-x: hidden;
}
button,
a {
  display: block;
  cursor: pointer;
}
.header-wrapper,
header nav,
header .btns,
nav > form {
  display: flex;
  justify-content: space-between;
}
header {
  padding: var(--sp4) var(--vp-2);
  background-color: var(--bg-dark-primary);
  color: var(--txt-white);
  position: sticky;
  top: 0;
}
header h1 {
  color: var(--txt-black);
}
nav {
  align-items: center;
  gap: var(--gap-2);
}
header nav > form {
  gap: var(--gap-1);
}
header button {
  /* width: var(--sp9);
  height: var(--sp9); */
  padding: var(--sp4);
  font-size: var(--f-unit-4);
  border: var(--bd) var(--bg-tertiary);
  border: none;
  border-radius: var(--bd-radius-1);
}
header form {
  min-width: 18rem;
  display: none;
  border: var(--bd2) var(--bg-tertiary);
  border-radius: var(--bd-radius-4);
  gap: 0 !important;
}
.btns button {
  display: block;
  font-size: var(--f-unit-5);
  padding: 0;
  padding: var(--sp3) var(--sp5);
  color: var(--green-highlight);
  background-image: var(--gradient-green-yellow);
  background-clip: text;
  transition: color 0.3s ease-in-out;
  padding-inline: var(--sp6);
}
.btns button:hover {
  color: transparent;
}
header input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: var(--sp2);
  padding-inline: var(--sp4);
  outline: none;
  /* border: 1px solid #000; */
  font-weight: 500;
}
header form button {
  border: none;
  background: none;
}
header form:has(input:focus) {
  border: var(--bd2) var(--red-highlight);
  color: var(--txt-white);
}
header h1 {
  font-size: var(--f-unit-5);
}
nav.cat-btns {
  position: sticky;
  display: flex;
  gap: var(--sp2);
  background-color: var(--bg-dark-primary);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: var(--sp2) var(--vp-2);
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
button[id^="cat-"] {
  scroll-snap-align: start;
  padding: var(--sp4) var(--sp4);
  /* min-width: rem; */
  min-width: 15rem;
  border-radius: var(--bd-radius-2);
  border: none;

  font-weight: 500;
  transition: background-color 0.3s;
  background-color: var(--bg-secondary);
}

button[id^="cat-"]:first-child {
  margin-left: var(--vp-2);
}
button[id^="cat-"]:hover {
  background-color: var(--bg-tertiary);
}
button[id^="cat-"]:active {
  background-color: var(--bg-secondary);
}
section {
  padding: var(--section-spacing-3);
  padding-bottom: var(--sp9);
}
.hero {
  /* background-color: var(--bg-dark-primary); */
  /* color: var(--txt-white); */
  background-color: var(--bg-primary);
  background-image: url(images/bg/orange.jpeg);
  background-size: cover;
  background-blend-mode: soft-light;
}
.hero h2 {
  font-size: var(--f-v-4);
  font-weight: 500;
  color: var(--txt-black);
  line-height: 1;
  /* text-align: center; */
}
.hero h2 + p {
  /* color: var(--txt-sec); */
  margin-bottom: var(--sp4);
  font-weight: 500;
  font-size: var(--f-unit-4);
}
h2 b,
h1 {
  color: transparent !important;
  background-image: var(--gradient-green-yellow);
  background-clip: text;
}
h2 i {
  color: var(--txt-white);
  font-style: normal;
  font-weight: bold;
}
.hero .cta-btns {
  display: flex;
  gap: var(--sp2);
}
.hero .cta-btns button,
.hero .cta-btns a {
  padding: var(--sp4) var(--sp9);
  text-align: center;
  width: min(50%, 13.5rem);
  font-size: var(--f-unit-4);
  font-weight: 500;
  border-radius: var(--bd-radius-2);
  border: var(--bd2);
  background-color: var(--bg-secondary);
  background-size: 300%;
  background-position: center;
  color: var(--txt-black);
  transition: ease-in-out 0.3s;

  &:hover,
  &:focus-within {
    translate: 0 -0.25rem;
    outline: none;
  }
}
.hero .cta-btns a {
  color: var(--txt-black);
  background-color: var(--bg-primary);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.05),
    0px -10px 15px -3px rgba(0, 0, 0, 0.05);
}
section:not(.hero) h2 {
  font-weight: 500;
  font-size: var(--f-v-2);
}
.hero .cta-btns button {
  color: var(--txt-white);
  background-color: var(--bg-dark-primary);
}
section.products {
  padding-block: var(--sp8);
}
.product-grid {
  gap: var(--gap-4);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: 500px) {
    gap: var(--gap-2);
  }
}
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  }
}

header .btns {
  gap: var(--gap-3);
}
.btns button {
  padding: 0;
}
/* For phones */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}
.product-card {
  /* border: var(--bd); */
  --bdrr: calc(var(--bd-radius-1) + var(--sp2));
  --bbdrr: calc(var(--bd-radius-1) + var(--sp4));
  padding: var(--sp2);
  border-radius: var(--bdrr) var(--bdrr) var(--bbdrr) var(--bbdrr);
  object-fit: cover;
  object-position: bottom;
}
.product-card .img-wrapper {
  --width: calc(var(--card-w-1) - (2 * var(--sp2)));

  width: 100%;
  height: calc(var(--width) * 9 / 16);

  overflow: hidden;
  border-radius: var(--bd-radius-1) var(--bd-radius-1) 2px 2px;
  margin-bottom: var(--sp3);
}
.product-card img {
  /* border: var(--bd); */
  display: block;
  width: 100%;
}
.product-card h3,
.product-card p.price {
  font-size: var(--f-unit-5);
  /* margin-bottom: var(--sp1); */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -1px;
}
.product-card h3 + p,
p + .stars {
  display: flex;
  gap: var(--sp1);
  letter-spacing: 0px;
  font-size: var(--f-unit-4);
}
.product-card .stars {
  /* --ratingGR: 90%; */
  margin-block: var(--sp3);
  color: var(--txt-highlight-op);
  width: fit-content;
  background-image: linear-gradient(
    90deg,
    var(--txt-highlight),
    var(--txt-highlight) var(--ratingGR),
    var(--bg-primary) var(--ratingGR),
    var(--bg-primary)
  );
  background-clip: text;
}
.product-card p.price {
  font-weight: 600;
}
.product-card .opt-btns {
  display: flex;
  margin-top: var(--sp7);
  border: var(--bd-radius-2);
  gap: var(--gap-1);
}
.opt-btns button,
.opt-btns a {
  border-radius: var(--bd-radius-2);
  flex-grow: 1;
  padding: var(--sp2);
  text-align: center;
  /* border: var(--bd2); */
  border: none;
}
.opt-btns button {
  background-color: var(--bg-tertiary);
}
.opt-btns a {
  background-color: var(--bg-secondary);
}
.opt-btns a:hover,
.opt-btns button:hover,
.opt-btns a:focus,
.opt-btns button:focus {
  filter: invert(1);
}
